body {
    font-family: "Inter", sans-serif;

    min-height: 100vh;
    
    background-repeat: no-repeat;
    background: #8c3259;
    background: linear-gradient(337deg, rgba(140, 50, 89, 1) 26%, rgba(47, 52, 69, 1) 100%, rgba(148, 187, 233, 1) 100%);
}

ul, a {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

#contact-me-pill {
    background-color: #3ad142;
    height: 4em;
}

#navUnorderedList li {
    position: relative;
}

#navUnorderedList li.active::before {
    content: "¯\\_(ツ)_/¯";
    color: white;
    left: -15px;
}